Repository nanoframework/nanoFirmwareFlasher, pull requests merged in 2025-02, with the labels that each got.

#313 Add network, wireless, wireless AP and certificates deployment
  README.md
  nanoFirmwareFlasher.Library/DeploymentHelpers/DeviceHelper.cs
  nanoFirmwareFlasher.Library/FileDeployment/FileDeploymentManager.cs
  nanoFirmwareFlasher.Library/NetworkDeployment/Ethernet.cs
  nanoFirmwareFlasher.Library/NetworkDeployment/NetworkDeploymentConfiguration.cs
  nanoFirmwareFlasher.Library/NetworkDeployment/NetworkDeploymentManager.cs
  nanoFirmwareFlasher.Library/NetworkDeployment/WirelessAccessPoint.cs
  nanoFirmwareFlasher.Library/NetworkDeployment/WirelessConfiguration.cs
  nanoFirmwareFlasher.Tests/nanoFirmwareFlasher.Tests.csproj
  nanoFirmwareFlasher.Tool/Options.cs
  nanoFirmwareFlasher.Tool/Program.cs
Labels: Type: dependencies, Type: enhancement, Type: documentation

#314 Moving to System.Text.Json
  nanoFirmwareFlasher.Library/CloudsmithPackageInfo.cs
  nanoFirmwareFlasher.Library/FileDeployment/FileDeploymentManager.cs
  nanoFirmwareFlasher.Library/FirmwareArchiveManager.cs
  nanoFirmwareFlasher.Library/FirmwarePackage.cs
  nanoFirmwareFlasher.Library/NetworkDeployment/NetworkDeploymentManager.cs
  nanoFirmwareFlasher.Library/nanoFirmwareFlasher.Library.csproj
  nanoFirmwareFlasher.Library/packages.lock.json
  nanoFirmwareFlasher.Tool/Program.cs
  nanoFirmwareFlasher.Tool/packages.lock.json
Labels: Type: enhancement

#315 Fix Cloudsmith query
  nanoFirmwareFlasher.Library/FirmwarePackage.cs
  nanoFirmwareFlasher.Tests/FirmwarePackageTests.cs
Labels: Type: enhancement, Type: Unit Tests

#316 Improve unit tests
  nanoFirmwareFlasher.Tests/FirmwarePackageTests.cs
Labels: Type: Unit Tests

#317 Make sure --filedeployment is counted as a valid operation
  nanoFirmwareFlasher.Tests/FileDeploymentTests.cs
  nanoFirmwareFlasher.Tool/Program.cs
Labels: Type: Bug, Type: Unit Tests
